<div class="container">
    <div class="row">
        <div class="col-sm">

        </div>
        <div class="col-sm">
            <!---->
            <section class="">
                <div class="col-12 ">

                    <div class="container1 singform" id="container1">
                        <div class=" sign-in-container">
                            <form action="#">

                                <b><h5>Enter your OTP</h5></b>
                                <p>We've sent an OTP to the email. Please enter it below to complete verification.</p>
                                <div class="">
                                    <i class="fa fa-email user "></i>
                                    <input class="btnn" type="text" placeholder="Enter your OTP " required="required">
                                </div>
                                <div class="">

                                </div>






                                <a routerLink='../newpassword'><button type="button" >Continue</button></a>



                            </form>
                        </div>

                    </div>
                    <div class="overlay-panel overlay-right imagemerg   ">
                        <img class="imagemerg" src="assets/img/singinlogo.jpg" height="250px" alt=" ">


                    </div>




                </div>
            </section>
            <!---->
            <!---->
        </div>
        <div class="col-sm ">

        </div>
    </div>
</div>