<div class="container">
    <div class="row">
        <div class="col-sm">

        </div>
        <div class="col-sm">
            <!---->
            <section class="">
                <div class="col-12 ">

                    <div class="container1 singform" id="container1">
                        <div class=" sign-in-container">
                            <form action="#">

                                <b><h5>Change Password</h5></b>
                                <div class="">
                                    <i class=""></i>
                                </div><br>
                                <div class="">
                                    <i class=""></i>
                                    <input class="btnn" type="password" placeholder="New Password" required="required">

                                </div>
                                <div class="">
                                    <i class=""></i>
                                    <input class="btnn" type="password" placeholder="Confirm password" required="required">

                                </div>






                                <a routerLink='../home'><button type="button" >Update password</button></a>



                            </form>
                        </div>

                    </div>
                    <div class="overlay-panel overlay-right imagemerg   ">
                        <img class="imagemerg" src="assets/img/singinlogo.jpg" height="250px" alt=" ">


                    </div>




                </div>
            </section>
            <!---->
            <!---->
        </div>
        <div class="col-sm ">

        </div>
    </div>
</div>