<!---->
<section class="">
    <div class="col-12 ">

        <div class="container1 singform" id="container1">
            <div class="form-container sign-in-container">
                <form action="#">
                    <img src="assets/img/admin logo.png" height="150px" alt="">
                    <h2>Sign in</h2>

                    <div class="social-container">
                        <div class="row">
                            <div class="col-sm">
                                <img src="assets/img/admin logo.png" height="50px" alt="">
                                <input type="radio" name="a" aria-label="Radio button for following text input">
                            </div>
                            <div class="col-sm">
                                <img src="assets/img/teacher logo.png" height="50px" alt="">
                                <input type="radio" name="a" aria-label="Radio button for following text input">

                            </div>

                            <div class="col-sm">
                                <img src="assets/img/sudent logo.png" height="50px" alt="">
                                <input type="radio" name="a" aria-label="Radio button for following text input">

                            </div>

                        </div>


                    </div>

                    <input type="email" placeholder="Email" /><br>
                    <input type="password" placeholder="Password" />
                    <a href="#">Forgot your password?</a>
                    <a routerLink='admin'><button>Sign In</button></a>


                </form>
            </div>
            <div class="overlay-container">
                <div class="overlay">

                    <div class="overlay-panel overlay-right">
                        <h2>ERP SYSTEM NOTICE</h2>
                        <p>Notice1</p>
                        <p>Notice2</p>
                        <p>Notice3</p>
                        <p>Notice4</p>


                    </div>
                </div>
            </div>
        </div>

        <footer>

        </footer>


    </div>
</section>
<!---->
<!---->