<div class="container">
    <div class="row">
        <div class="col-sm">

        </div>
        <div class="col-sm">
            <!---->
            <section class="">
                <div class="col-12 ">

                    <div class="container1 singform" id="container1">
                        <div class=" sign-in-container">
                            <form action="#">

                                <h2>LOGIN</h2><br>
                                <div class="">
                                    <i class="fa fa-user user "></i>
                                    <input class="btnn" type="text" placeholder="      Username" required="required">
                                </div>
                                <div class="">
                                    <i class="fa fa-lock user"></i>
                                    <input class="btnn" type="password" placeholder="      Password" required="required">

                                </div>








                                <a routerLink='admin'><button class="btn">Login</button></a>
                                <a href="# ">Forgot Password?</a>


                            </form>
                        </div>
                        <div class="overlay-container ">
                            <div class="overlay ">

                                <div class="overlay-panel overlay-right imagemerg   ">
                                    <img class="imagemerg" src="assets/img/singinlogo.jpg" height="290px" alt=" ">


                                </div>
                            </div>
                        </div>
                    </div>

                    <footer>

                    </footer>


                </div>
            </section>
            <!---->
            <!---->
        </div>
        <div class="col-sm ">

        </div>
    </div>
</div>