h1 {
    font-weight: bold;
    margin: 0;
}

h2 {
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.btnn {
    width: 120%;
}

.btn {
    width: 100%;
}

.singform {
    margin-top: 13%;
}

p {
    font-size: 14px;
    font-weight: 100;
    line-height: 20px;
    letter-spacing: 0.5px;
    margin: 20px 0 30px;
}

span {
    font-size: 12px;
}

a {
    color: silver;
    font-size: 14px;
    text-decoration: none;
    margin: 15px 0;
}

button {
    border-radius: 20px;
    border: 1px solid #ccb6b3;
    background-color: #3498DB;
    color: #FFFFFF;
    font-size: 12px;
    font-weight: bold;
    padding: 12px 45px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
}

button:active {
    transform: scale(0.95);
}

button:focus {
    outline: none;
}

.imagemerg {
    margin-top: -10px;
    margin-right: 20px;
    margin-left: 70px;
}

.user {
    position: fixed;
    margin-left: 20px;
    margin-top: 25px;
}

button.ghost {
    background-color: transparent;
    border-color: #FFFFFF;
}

form {
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 50px;
    height: 100%;
    text-align: center;
    margin-left: 10px;
}

input {
    background-color: #f7f7fa;
    padding: 12px 15px;
    border: blue;
    margin: 8px 0;
    width: 100%;
    border-radius: 20px;
    size: 100px;
}

.container1 {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 14px 28px silver, 0 10px 10px silver;
    position: relative;
    overflow: hidden;
    width: 650px;
    max-width: 100%;
    min-height: 500px;
}

.sign-in-container {
    left: 0;
    width: 50%;
    z-index: 2;
    margin-top: 100px;
    margin-left: 30px;
}

.sign-up-container {
    left: 0;
    width: 50%;
    opacity: 0;
    z-index: 1;
}

.overlay-container {
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    overflow: hidden;
    transition: transform 0.6s ease-in-out;
    z-index: 100;
}

.container.right-panel-active .overlay-container {
    transform: translateX(-100%);
}

.overlay {
    background: -webkit-linear-gradient(to right);
    background: linear-gradient(to right);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 0;
    color: #FFFFFF;
    position: relative;
    left: -100%;
    height: 100%;
    width: 200%;
    transform: translateX(0);
    transition: transform 0.6s ease-in-out;
    margin-right: 40px;
}

.container.right-panel-active .overlay {
    transform: translateX(50%);
}

.overlay-panel {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    top: 0;
    height: 100%;
    width: 50%;
    transform: translateX(0);
    transition: transform 0.6s ease-in-out;
}

.overlay-right {
    right: 0;
    transform: translateX(0);
}

.container.right-panel-active .overlay-right {
    transform: translateX(20%);
}